<p>login works!</p>
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <form fxLayoutAlig="strech" >
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <input placeholder="Usuario" formcontrolName="Username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <input placeholder="Password" type="password" formcontrolPassword="Password">
      </mat-form-field>
      <button mat-button type="submit">Login</button>
    </form>
  </mat-card>
</div>
